<div class="card mb-3">
  <div class="card-header"><strong><%= anime.title %></strong></div>

  <div class="card-body">
    <p><%= anime.description %></p>
    <%= link_to "View", anime_path(anime.id), class: "btn btn-sm btn-primary" %>
  </div>
</div>
