<div class="container">
  <div class="container-fluid p-4">
    <h1 class="text-center">Anime List</h1>
    <% if params[:query].present? %>
      <p class="text-center"><%= link_to "Clear search results", animes_path %></p>
    <% end %>
  </div>
  <div class="container">
    <% if @animes.any? %>
      <ul class="animes card-deck">
        <% @animes.each do |anime| %>
          <%= render anime %>
        <% end %>
      </ul>
      <%= will_paginate %>
    <% else %>
      <p>No anime found</p>
    <% end %>
  </div>
</div>
