<h1 class="text-center">Anime Index Page</h1>
<div class="container">
  <% if @animes.any? %>
    <ul class="animes card-deck">
      <% @animes.each do |anime| %>
        <%= render anime %>
      <% end %>
    </ul>
    <%= will_paginate %>
  <% else %>
    <p>No anime added yet.</p>
  <% end %>
</div>
