<h1>Anime Show Page</h1>
<p>
<strong>Title: </strong><%= @anime.title %>
</p>
<p>
<strong>Description: </strong><%= @anime.description %>
</p>
<p>
<strong>Average Rating: </strong>WIP
</p>

<%= link_to "Edit", edit_anime_path(@anime) %> | 
<%= link_to "Back", animes_path %>
